<mat-card class="common-container-card">
  <div fxLayout="row wrap " fxLayoutGap="10px">
    <a
      class="review-screen-setting-btn common-primary-bg"
      [routerLink]="['feedback', shortName, nid]"
      target="_blank"
      >Review Screen Setting
    </a>
    <a
      class="review-screen-setting-btn common-primary-bg"
      [routerLink]="['feedback', shortName]"
      target="_blank"
      >Review Screen Setting 1</a
    >
    <a
      class="review-screen-setting-btn common-primary-bg"
      [routerLink]="['feedback', shortName, nid]"
      target="_blank"
      >Review Screen Setting 2</a
    >
    <a
      class="review-screen-setting-btn common-primary-bg"
      [routerLink]="['feedback', shortName]"
      target="_blank"
      >Review Screen Setting 3</a
    >
    <a
      class="review-screen-setting-btn common-primary-bg"
      [routerLink]="['feedback', shortName]"
      target="_blank"
      >Review Screen Setting 4</a
    >
  </div>
</mat-card>
