.admin-password-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.admin-password-card .admin-password-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 600px) {
  .admin-password-card .admin-password-form {
    gap: 12px;
  }

  .admin-password-form .name-container {
    gap: 12px;
  }
}
