<div class="admin-change-password">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="common-container-card admin-password-card">
      <div class="admin-password-form">
        <div>
          <div class="w-100 admin-form-group">
            <label class="common-label-font">Old Password</label>
            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                type="text"
                placeholder="Enter Old Password"
                [type]="hide ? 'password' : 'text'"
                formControlName="oldPassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon
                  class="eye_icon"
                  [svgIcon]="hide ? 'hide_icon' : 'show_icon'"
                ></mat-icon>
              </button>
            </mat-form-field>
            <mat-error *ngIf="passwordForm.get('oldPassword').invalid && passwordForm.get('oldPassword').touched">
              Old password is required.
            </mat-error>
          </div>
        </div>
        <div class="name-container">
          <div class="w-100 admin-form-group">
            <label class="common-label-font">New Password</label>
            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                type="text"
                placeholder="Enter New Password"
                [type]="hide1 ? 'password' : 'text'"
                formControlName="newPassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide1 = !hide1"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide1"
              >
                <mat-icon
                  class="eye_icon"
                  [svgIcon]="hide1 ? 'hide_icon' : 'show_icon'"
                ></mat-icon>
              </button>
            </mat-form-field>
            <mat-error *ngIf="passwordForm.get('newPassword').invalid && passwordForm.get('newPassword').touched">
              <span *ngIf="passwordForm.get('newPassword').hasError('required')">New password is required.</span>
              <span *ngIf="passwordForm.get('newPassword').hasError('pattern')">New password must contain at least 8 characters including Lower
                Case(a-z), Upper Case(A-Z), Number(0-9), Special
                Character(!@#$%^&*).</span>
            </mat-error>
          </div>
          <div class="w-100 admin-form-group">
            <label class="common-label-font">Confirm Password</label>
            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                type="text"
                value="password"
                placeholder="Enter Confirm password"
                [type]="hide2 ? 'password' : 'text'"
                formControlName="confirmPassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide2 = !hide2"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide2"
              >
                <mat-icon
                  class="eye_icon"
                  [svgIcon]="hide2 ? 'hide_icon' : 'show_icon'"
                ></mat-icon>
              </button>
            </mat-form-field>
            <mat-error *ngIf="passwordForm.get('confirmPassword').invalid && passwordForm.get('confirmPassword').touched">
              <span *ngIf="passwordForm.get('confirmPassword').hasError('required')">Confirm password is required.</span>
              <span *ngIf="passwordForm.hasError('passwordsNotMatch')">Passwords do not match.</span>
            </mat-error>
          </div>
        </div>
      </div>
      <div class="admin-footer-btn">
        <button mat-flat-button color="primary" [disabled]="isButtonDisabled || passwordForm.invalid" type="submit">Save
          Info</button>
      </div>
    </div>
  </form>
</div>
