<!-- Modal for setting user password -->
<div
  class="user-edit-modal widget-main-modal modal-padding dailog-box-contant-fixed-responsive-time overflow-scroll"
>
<!-- Form for user password -->
  <form [formGroup]="userPasswordForm" (ngSubmit)="submit()">
    <div class="">
      <div class="edit-modal-header">
        <h4>Setup Password</h4>
        <mat-icon
          matPrefix
          mat-dialog-close
          [svgIcon]="'close_icon_blue'"
          class="cursor-pointer header"
        ></mat-icon>
      </div>
      <hr />
    </div>
    <div class="edit-user-form overflow-auto 60vh">
      <div class="edit-user-first-form">
        <!-- Input field for user password -->
        <div class="w-100 admin-form-group">
          <label class="common-label-font">New Password</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="text"
              placeholder="Enter new Password"
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon
                class="eye_icon"
                [svgIcon]="hide ? 'hide_icon' : 'show_icon'"
              ></mat-icon>
            </button>
          </mat-form-field>
          <mat-error
            class="error-message"
            *ngIf="
              userPasswordForm.get('password').touched &&
              userPasswordForm.get('password').hasError('required')
            "
            >Password is required</mat-error
          >
          <mat-error
            class="error-message"
            *ngIf="
              userPasswordForm.get('password').touched &&
              userPasswordForm.get('password').hasError('pattern')
            "
            >Password must contain at least 8 characters including Lower
            Case(a-z), Upper Case(A-Z), Number(0-9), Special Character(!@#$%^&*)
            .</mat-error
          >
        </div>
        <!-- Input field for user confirm password -->
        <div class="w-100 admin-form-group">
          <label class="common-label-font">Confirm password</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="text"
              placeholder="Enter Old Password"
              [type]="hide ? 'password' : 'text'"
              formControlName="confirmPassword"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon
                class="eye_icon"
                [svgIcon]="hide ? 'hide_icon' : 'show_icon'"
              ></mat-icon>
            </button>
          </mat-form-field>
          <mat-error
            class="error-message"
            *ngIf="
              userPasswordForm.get('confirmPassword').touched &&
              userPasswordForm.get('confirmPassword').hasError('required')
            "
            >Confirm Password is required</mat-error
          >
          <mat-error
            class="error-message"
            *ngIf="
              userPasswordForm.get('confirmPassword').touched &&
              !userPasswordForm.get('confirmPassword').hasError('required') &&
              userPasswordForm.hasError('passwordMismatch')
            "
            >Passwords do not match</mat-error
          >
        </div>
      </div>
    </div>
    <div
      fxLayoutAlign.lt-sm="end"
      fxLayoutAlign="end"
      class="custom-link-actions user-edit-footer-btns"
    >
      <button
        type="submit"
        fxFlex.xs="0 1 calc(100%-10px)"
        fxFlex.sm="0 1 calc(100%-10px)"
        class="custom-btn primary-button me-2"
      >
        Submit
      </button>

      <button
        type="button"
        fxFlex.xs="0 1 calc(100%-10px)"
        fxFlex.sm="0 1 calc(100%-10px)"
        mat-dialog-close
        class="custom-btn secondary-button"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
