.tags_delete_red {
  padding: 8px;
  gap: 8px;
  width: 40px;
  height: 40px;
  background: #ffced3;
  border-radius: 8px;
}
.edit_underscor {
  padding: 8px;
  gap: 8px;
  width: 40px;
  height: 40px;
  background: #dcfce7;
  border-radius: 8px;
}
.edit_underscor_delete_red_gap {
  margin-right: 16px;
}

.company-profile-chips-add-icon {
  padding: 7px;
  gap: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.company-profile-chips-add-icon mat-icon {
  width: 18px;
  height: 26px;
}
.company-profile-admin {
  gap: 24px;
}
