/* @import url('https://fonts.googleapis.com/css?family=default'); */
*{
	box-sizing: border-box;
}

.rew_loaderParent_list {

	display: block;
	z-index: 99;
	background: #ffffff;
}

.rew_loaderChild_list {
	position: absolute;
	/*top: 30%;*/
	left: 45%;
	z-index: 100;
	width: 10%;
}

.rew_row-list {

	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: nowrap;
}

.rew_row_margin-list {
	margin: 20px 0px;
}

.rew_list_parent-list {
	background-color: #fff;
	width: 100%;
	border-radius: 10px;
	border: 2px solid #efefefb8;
	padding: 1%;
	border-radius: 20px;
}

.rew_col-1-list {
	flex: 0 0 auto;
	width: 5.33333333%;
}

.rew_col-4-list {
	flex: 0 0 auto;
	width: 36.33333333%;
}

.rew_col-7-list {
	flex: 0 0 auto;
	width: 58.33333333%;
}

.rew_profile_img-list {
	height: 64px !important;
	width: 64px !important;
	border-radius: 50%;
	margin: 6%;
	margin-left: -3px !important;
}

.rew_profile_info-list {
	display: inline-flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-direction: column;
	margin-left: 5px !important;
}
.rew_profile_info-list b{
	font-family: 'default';
	font-weight: 600;
	line-height: 28px;
	font-size: 20px;
}
.rew_profile_info-list span{
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	color: #196CFA;
}

.rew_star-img-list {
	width: 20%;
	margin-right: 1%;
}

/* .rew_verified-list {
	display: inline-flex;
	align-items: center;
	float: right;
	background: #e5e5e599;
	padding: 3px 10px;
	border-radius: 5px;
	margin-top: 1%;
} */

.rew_platform-img-list {
	width: 32px;
	height: 32px;
}

.rew_star_div-list {
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
}

.rew_rating-list {
	display: inline-flex;
	justify-content: flex-end;
	
}

.rew_rating_parent-list {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
}

.rew_review_details-list {
	/* border-top: 2px solid #efefefb8; */
	font-family: 'default';
	font-size: 16px;
	color: #404040;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 0;
	width: 100%;
	margin: 0 0 0 80px;
    /* border-left: 4px solid #FAA81A; */
	padding-left: 20px;
	/* padding: 10px 0px; */
}
.rew_list_parent-list .rew_row-list:nth-child(2){
	margin-top: 10px;
}

b {
	text-transform: capitalize;
}


@media only screen and (max-width: 1024px) {
	.rew_col-1-list {
		flex: 0 0 auto;
		width: 10.33333333%;
	}
	
	.rew_col-4-list {
		flex: 0 0 auto;
		width: 31.33333333%;
	}
	
	.rew_col-7-list {
		flex: 0 0 auto;
		width: 58.33333333%;
	}
}
@media only screen and (max-width: 1440px) {
	.rew_col-1-list {
		flex: 0 0 auto;
		width: 7.33333333%;
	}
	
	.rew_col-4-list {
		flex: 0 0 auto;
		width: 34.33333333%;
	}
	
	.rew_col-7-list {
		flex: 0 0 auto;
		width: 58.33333333%;
	}
}
@media only screen and (max-width: 768px) {
	.rew_col-1-list {
		flex: 0 0 auto;
		width: 14.33333333% ;
	}
	
	.rew_col-4-list {
		flex: 0 0 auto;
		width: 27.33333333%;
	}
	
	.rew_col-7-list {
		flex: 0 0 auto;
		width: 58.33333333%;
	}
}
@media only screen and (max-width: 600px) {
	.rew_col-12-list {
		width: 100%;
		text-align: center;
		display: block
	}

	.rew_profile_img-list {
		width: 12%;
	}

	.rew_profile_info-list {
		display: flex;
		align-items: center;
	}

	.rew_rating-list {
		justify-content: center;
	}

	.rew_profile_info-list {
		margin-top: 1%;
	}

	.rew_rating-list {
		margin-top: 1%;
	}

	.rew_star-img-list {
		width: 25%;
	}

	.rew_review_details-list {
		margin: 0;
		text-align: center;
		font-size: 14px;
	}

	.rew_list_parent-list {
		text-align: center;
	}

	.rew_verified-list {
		float: none;
		margin-bottom: 1%;
		margin-top: 2%;

	}

	.rew_loaderChild {
		position: absolute;
		top: 40%;
		left: 37%;
		z-index: 100;
		width: 25%;
	}


	.rew_row-list {
		--bs-gutter-x: 1.5rem;
		--bs-gutter-y: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.rew_row {
	margin-right: -15px;
	margin-left: -15px;
	display: flex;
	margin-bottom: 15px;
	align-items: center;
}

.rew_col-6 {
	width: 50%;
}

.rew-p-r-l {
	font-family: 'default';
	padding: 0px 15px;
}

.rew_list_p {
	font-family: 'default';
	color: #18181B;
	font-size: 20px;
	font-weight: 600 !important;
	line-height: 28px;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	margin: 0 !important;
}

.rew_list_reviewCount {
	color: #27272A;
	margin-right: 2%;
	line-height: 32px;
	font-weight: bold;
	font-size: 24px;
}

.rew_overallRatingImg {
	width: 20%;
}

.rew_list_leaveReview-btn {
	font-family: 'default';
	padding: 16px 20px !important;
	border: 1.5px solid #E4E4E7;
	border-radius: 16px !important;
	font-size: 16px !important;
	line-height: 24px;
	font-weight: 600 !important;
	letter-spacing: 1px !important;
	cursor: pointer !important;
	background: #FFFFFF !important;
	text-decoration: none;
	text-transform: uppercase !important;
	color: #000 !important;
}
.rew_list_leaveReview-btn:hover{
	background: #196CFA !important;
	color: #fff !important;
	border: 1.5px solid #196CFA !important;
	
}
.rew_list-powerBy {
	text-align: center;
	display: inline-flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	font-size: 14px;
	font-family: Consolas;
	letter-spacing: 2px;
}

.rew_list-loadMoreBtn {
	margin: 2% 0px;
	padding: 15px 30px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
}

@media screen and (min-width: 451px) and (max-width: 781px) {
	.rew_overallRatingImg {
		width: 50% !important;
	}
}

@media screen and (max-width: 450px) {
	.rew-p-r-l {
		text-align: center !important;
		margin-bottom: 3%;
		padding: 0px;
	}

	.rew_row {
		display: block;
	}

	.rew_overallRatingImg {
		width: 50% !important;
	}
	.rew_list-container-list {
		columns: 2 200px;
	}

	#summary {
		justify-content: center;
	}

	.rew_col-6 {
		width: 100%;
	}

	.rew_list-text-right {
		text-align: center;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.rew_overallRatingImg {
		width: 40% !important;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.rew_overallRatingImg {
		width: 30% !important;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.rew_list-reviewCount {
	margin-top: 20px;
	font-family: 'default';
	color: #27272A;
	font-size: 20px;
	font-weight: 600 !important;
	line-height: 28px;
	letter-spacing: 0.5px !important;
	font-size: 20px !important;
}


/* New added */
.stars-outer-list{
	display: inline-block;
    position: relative;
	font-size: 30px;
	margin-left:2%;
	}
	
	.stars-outer-list::before {
		content: "🟊🟊🟊🟊🟊";
		color: #d2d2d2;
	}
	
	.stars-inner-list {
		position: absolute;
		top: 0;
		left: 0;
		white-space: nowrap;
		overflow: hidden;
		width: 0%;
	}
	
	.stars-inner-list::before {
		content: "🟊🟊🟊🟊🟊";
		color: #FAA81A;
	}

	.list_powerBy {
		text-align: center;
		display: inline-flex;
		align-items: center;
		width: 100%;
		justify-content: center;
		font-size: 14px;
		font-family: Consolas;
		letter-spacing: 2px;
	}
	#summary {
		margin-top: 20px;
	}
	
	/* New Stars */

	.star-rating {
		display: flex;
		align-items: center;
		gap: 5px;
	  }
	  .grid-star-rating {
		margin-top: 10px;
		display: flex;
		align-items: center;
		gap: 5px;
	  }
	  .star{
		display: inline-block;
		position: relative;
		font-size: 18px;
		/* margin-left: 2%; */
		margin-top: 0%;
	  }
	  .star::before{
		display: block;
		content: '';
		width: 22px;
		height: 22px;
		background: url(assets/svg/icons/outlined/star_outlined.svg) no-repeat center;
		background-size: contain;
	  }

	  .star-fill::before{
		display: block;
		content: '';
		width: 22px;
		height: 22px;
		background: url('assets/svg/icons/filled/star.svg') no-repeat center;
		background-size: contain;
		/* position: absolute;
		top: 0;
		left: 0; */
		z-index: 1;
		overflow: hidden;
		/* white-space: nowrap; */
	  }

	  .star-fill {
		position: absolute;
		top: 0;
		left: 0;
		white-space: nowrap;
		overflow: hidden;
	}