.brand-info-data {
  margin-top: 32px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.brand-color-data {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.brand-color-data .color-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.brand-color-data .color-fields .bold-label {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  color: #000000;
}

.color-selector-container {
  display: flex;
  gap: 16px;
}

.color-selector-container .suffix-field-color input {
  width: 24px;
  height: 23px;

  border: none;
  border-radius: 4px;
}

.color-label-field-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.color-label-field-container .mdc-radio {
  padding: 0px !important;
}

.save-section {
  margin-top: 32px;
}

.color-selector-container .color-field-width {
  width: 160px;
}

@media (max-width: 600px) {
  .brand-info-data {
    margin-top: 20px;
    gap: 16px;
  }

  .brand-color-data {
    margin-top: 24px;
    gap: 24px;
    /* gap: 20px; */
  }

  .color-label-field-container {
    gap: 8px;
  }

  .save-section {
    margin-top: 24px;
  }

  .save-section button {
    width: 100%;
  }

  .color-selector-container .admin-form-group {
    width: calc(50% - 8px);
  }
  .color-selector-container mat-form-field {
    width: calc(100%);
  }

  .brand-color-data .color-fields .bold-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  .brand-color-data .color-fields {
    gap: 24px;
  }

  .color-selector-container .color-field-width {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .color-selector-container {
    flex-direction: column;
  }

  .color-selector-container .admin-form-group {
    width: 100%;
  }
}

#avatar-container {
  position: relative;
}

#avatar-photo,
#add-photo-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 400px;
  height: 200px;
  border: 2px solid #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);
  border-radius: 24px;
  object-fit: contain;
}

#add-photo-overlay {
  position: absolute;
  top: 0px;
  z-index: 2;
  background-color: rgba(233, 236, 239, 0.6);
}

#add-avatar-photo-button {
  position: absolute;
  z-index: 3;
  color: #13293d;
}

#remove-avatar-photo-button {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 20px;
  top: 5%;
  right: 5%;
  z-index: 3;
  color: white;
  background-color: rgba(0, 0, 0, 0.57);
  border-radius: 12px;
}

#remove-avatar-photo-button:hover {
  background-color: #e74c3c;
}

.center-positon-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.edit_icon_delete_background {
  background: #ffffff !important;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.08);
}

.avatar-photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.avtar-legal-width-font {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #18181b;
  margin-bottom: 0.75em;
}
.edit_icon_delete_background .mat-icon {
  display: flex;
}

@media (max-width: 767px) {
  .avtar-legal-width-font {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
  }
  #avatar-container {
    width: 100%;
  }
  #avatar-photo,
  #add-photo-overlay {
    width: 100%;
    height: 140px;
  }
}

.save-button {
  margin-right: 15px; 
}
