

<div fxLayout.xs="column" fxAlign.xs="start" style="gap: 4px">
  <nav class="px-2 header-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item first-item">
        <a href="#" class="common-main-title-font">Integrations</a>
      </li>
    </ol>
  </nav>
</div>

<div
  class="my-2 mb-4 d-flex justify-content-end d-xl-none d-md-none arrow-left-ref cursor-pointer"
  fxLayout="row "
  fxLayoutGap="16px"
  fxLayoutGap.xs="8px"
  (click)="toggleScreen()"
>
  <span>
    <mat-icon class="keyboard_arrow_left" color="primary"
      >keyboard_arrow_left</mat-icon
    >
  </span>
  <div class="back-to-intingrations-font common-primary-text">
    Back to Integrations
  </div>
</div>

<mat-card class="common-container-card">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="integrations-detail-right-input-margin"
  >
  <div class="flex-item jobber-ref">
    <mat-icon [svgIcon]="'jobber_navi'"></mat-icon>

  </div>
    <div
      class="flex-item arrow-left-ref keyboard_arrow_left_none cursor-pointer d-none d-sm-none d-md-flex"
      fxLayout="row "
      fxLayoutGap="16px"
      (click)="toggleScreen()"
    >
      <span>
        <mat-icon class="keyboard_arrow_left">keyboard_arrow_left</mat-icon>
      </span>
      <span class="back-to-intingrations-font">Back to Integrations</span>
    </div>
  </div>
  <div
    fxLayout.xs="column  "
    fxLayout.sm="column  "
    fxLayout="row "
    fxLayoutAlign.gt-lg="center start"
    fxLayoutAlign.gt-md="center start"
    fxLayoutAlign.gt-sm="center start"
    fxLayoutGap.gt-lg="32px"
    fxLayoutGap.gt-md="32px"
    fxLayoutGap.gt-sm="32px"
    class="app-get-review-template-margin-section"
  >
    <div
      fxFlex.xs="0 1 calc(100%-10px)"
      fxFlex.sm="0 1 calc(100%-10px)"
      fxFlex.md="0 1 calc(50%-10px)"
      fxFlex.gt-lg="0 1 calc(50%-10px)"
      fxFlex.gt-md="0 1 calc(50%-10px)"
      class="app-get-review-template-margin-bottom"
      >
     
    <div class="integrations-detail-right-input-margin">
      <div *ngIf="jobberContentVisible" class="centered-div">
        <div class="login-container">
          <button mat-button (click)="loginJobber()" class="add">Login with Jobber <mat-icon [svgIcon]="'jobber_sky'" style="height: 66px;
            width: 41px;"></mat-icon> </button>
        </div>
      </div>
    </div>

     <form [formGroup]="jobberIntegrationForm">
    <div *ngIf="!jobberContentVisible">
      <div style="display: flex; align-items: center;">
        <mat-icon style="top: 7px; position: relative; height: 50px;" class="circle-icon">check_circle</mat-icon>
        <h6>Your Jobber account is connected</h6>
      </div>
      <h6 class="font-weight">Connected Company: {{AccountName}}</h6>
      <div>
        <h5 class="invitation">Choose when to send review request</h5>
        <mat-radio-group [(ngModel)]="selectedOption" formControlName="selectedRadio">
          <mat-radio-button  value="Invoice Created">Invoice Created</mat-radio-button>
          <mat-radio-button value="Job Closed">Job Closed</mat-radio-button>
        </mat-radio-group>
        <div class="centered-content-inner">
          <div class="mt-4 mb-4 d-flex justify-content-end">
            <button mat-flat-button color="primary" (click)="updateJobberDetails()">Update</button>
          <button mat-button color="warn" class="del-btn" (click)="deleteIntegration(jobberIntegrationId)">Delete</button>
        </div>
        </div>
      </div>
    </div>
  </form>

    </div>
    <div class="vertical-line"></div>
    <div
      fxFlex.xs="0 1 calc(100%-10px)"
      fxFlex.sm="0 1 calc(100%-10px)"
      fxFlex.md="0 1 calc(50%-10px)"
      fxFlex.gt-lg="0 1 calc(50%-10px)"
      fxFlex.gt-md="0 1 calc(50%-10px)"
    >

    <mat-card class="integrations-detail-right-card">
      <h1 class="font-weight">How Grab Your Reviews + Jobber works:</h1>
      <ng-container *ngIf="selectedOption === 'Invoice Created'; else option2Content">
        <ol class="ml-1 ul">
          <li>
            Whenever you create a invoice in Jobber, the integration will automatically trigger a review request
            to be sent to your customer via email or SMS
             <mat-icon style="top: 7px; position: relative" color="primary">info</mat-icon>
          </li>
          <li>
            Your customer will receive the review request from Grab Your Reviews, which will prompt them to leave
            a review for your business on a variety of popular review sites, such as Google, Facebook, Yelp, and more.
            <mat-icon style="top: 7px; position: relative" color="primary">info</mat-icon>
          </li>
          <li>
            Once your customer leaves a review, it will be displayed in your Grab Your Reviews account.
          </li>
          <li>
            You can then respond to the review directly from your Grab Your Reviews account and monitor your
            online reputation more effectively.
            <mat-icon style="top: 7px; position: relative" color="primary">info</mat-icon>
          </li>
        </ol>
      </ng-container>
      <ng-template #option2Content>
        <ol class="ml-1 ul">
          <li>
            Whenever you close a job in Jobber, the integration will automatically trigger a review request to
            be sent to your customer via email or SMS.
             <mat-icon style="top: 7px; position: relative" color="primary">info</mat-icon>
          </li>
          <li>
            Your customer will receive the review request from Grab Your Reviews, which will prompt them to
            leave a review for your business on a variety of popular review sites, such as Google,
            Facebook, Yelp, and more.
            <mat-icon style="top: 7px; position: relative" color="primary">info</mat-icon>
          </li>
          <li>
            Once your customer leaves a review, it will be displayed in your Grab Your Reviews account.
            <mat-icon style="top: 7px; position: relative" color="primary">info</mat-icon>
          </li>
          <li>
            You can then respond to the review directly from your Grab Your Reviews account and monitor your
            online reputation more effectively.
            <mat-icon style="top: 7px; position: relative" color="primary">info</mat-icon>
          </li>
        </ol>
      </ng-template>
    </mat-card>