<mat-sidenav-container>
  <mat-sidenav-content>
    <app-header
      [isMobileView]="isMobileView"
      [screenView]="screenView"
      [sidenav]="drawer"
      drawer="drawer"
      [showMenu]="false"
    ></app-header>

    <div
      class="app-sidenav-content footer-fixed-up"
      (scroll)="onScroll($event)"
    >
      <div style="position: inherit">
        <app-administrator></app-administrator>
      </div>
      <div>
        <app-footer></app-footer>
      </div>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
