<!-- <mat-card class="alerts-card">
  <div class="justify-content-between">
    <div class="justify-content-row">
      <mat-icon class="error_svg" [svgIcon]="'error_icon'"> </mat-icon>
      <div class="error-alert-txt">
        <h6 class="common-font-16px">An error has occurred.</h6>
        <mat-card-subtitle class="common-font-14px" *ngIf="smsCredit"
          >Your SMS credit used more than 90%</mat-card-subtitle
        >
        <mat-card-subtitle class="common-font-14px" *ngIf="emailCredit"
        >Your Email credit are exceeded</mat-card-subtitle
      >
      </div>
    </div>
    <div class="justify-content-row">
      <button
        class="buy-credits-button buy-credits-button-responsive"
        mat-flat-button
        color="warn"
        routerLink="/addonpurchase"
      >
        Buy <span> Credits</span>
      </button>
      <mat-icon style="color: #71717a; cursor: pointer" (click)="closeCard($event)">close</mat-icon>
    </div>
  </div>  
</mat-card>

 -->
