.widget-modal-container {
  display: flex;
  gap: 30px;
}

.widget-modal-container .left-part {
  width: 400px;
}
.widget-modal-container .right-part {
  width: 1084px;
}

.widget-star-group {
  height: 36px;
  width: 23px;
  margin-right: 4px;
}

.widget-rating-card {
  width: 80%;
  height: 450px;
  /* padding: 24px; */
  border: 1px solid #e4e4e7;
  border-radius: 16px;

  display: flex;
  flex-direction: row;
  gap: 56px;
}

.widget-rating-avatar {
  width: 64px;
  height: 64px;
}

.preview-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  flex-wrap: wrap;
  height: 600px;
  overflow-y: auto;
  margin-top: 16px;
}

.read-more-section {
  display: grid;
  margin: 0px 0px 0px 45px;
  border-left: 4px solid #faa81a;
  height: auto;
}


.widget-rating-image {
  height: 100%;
  width: 100%;
}

.rating-left-part {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 24px 32px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.rating-text-container {
  display: flex;
  gap: 12px;
}

.rating-right-part {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  width: 100%;
  padding: 24px 24px 32px;
}

.rating-right-footer {
  display: flex;
  justify-content: space-between;
}

.rating-slider-container {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.rating-number-star {
  display: flex;
  align-items: center;
  gap: 16px;
}

.rating-review-number {
  font-weight: 600;
  font-size: 20px;
}

.rating-value {
  font-weight: 700;
  font-size: 80px;
  line-height: 100px;
}

.rating-stars-overview {
  display: flex;
  gap: 10px;
}

.rating-review-star {
  width: 40px;
  height: 40px;
}

.rating-overview-slider {
  width: 100% !important;
}

@media (max-width: 750px) {
  .preview-cards {
    display: block;
  }

  .widget-rating-card {
    width: 100%;
  }

  .rating-stars-overview {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .upgrade-your-access-widgrt-font {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #000000;
  }
  .preview-cards {
    display: block;
    padding: 10px;
  }

  .widget-rating-card {
    display: block;
    height: 100%;
    padding: 0px;
  }

  .widget-rating-card .rating-left-part {
    width: 100%;
    gap: 20px;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    border-bottom-left-radius: 0px !important;
  }

  .rating-slider-container {
    gap: 22px;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .rating-value {
    font-size: 24px;
    line-height: 60px;
  }
  .rating-right-part {
    margin-top: 20px;
    gap: 20px;
  }

  .rating-review-star {
    width: 25px;
    height: 25px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1300px) {
  .rating-left-part {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 12px 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .rating-right-part {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    width: 50%;
    padding: 12px 12px 16px;
  }

  .widget-rating-card {
    width: 100% !important;
    height: 450px;
    border: 1px solid #e4e4e7;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px !important;
  }
}

@media (max-width: 350px) {
  .rating-left-part {
    padding: 10px 10px 14px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 0px !important;
  }
  .rating-right-part {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px 14px;
  }
  .rating-slider-container {
    gap: 1px;
  }
  .rating-value {
    font-size: 24px;
    line-height: 60px;
  }
}
