.share-review-main-section {
  padding: 24px 32px 32px 32px;
  height: 560px;
  overflow-y: auto;
}

.share-review-title-deetween {
  display: flex;
  justify-content: space-between;
}
.content-post-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 17px 16px;
  gap: 12px;
  background: #ffffff;
  border: 1.5px solid #e4e4e7;
  border-radius: 16px;
}

.download_btn {
  width: 160px;
}
.share_btn {
  width: 93px;
}
.share-review-modal-btn {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  height: 56px;
}
.priview-card-title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #18181b;
}
.priview-card-subtitle {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.space-beetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.review-proviedeby-main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 18px;
  width: 100%;
  border-radius: 20px;
}

.star {
  color: #faa81a !important;
}

.review-proviedeby-inner-cards {
  display: flex;
  align-items: center;
  width: 100%;
}
.review-proviedeby-inner-cards h6 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
.color-picker-radius {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
}
.color-picker {
  left: 20px;
  top: 20px;
  border-radius: 5px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}
.template-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  width: 100%;
  background: #f4f4f5;
  border: 1.5px solid #e4e4e7;
  border-radius: 16px;
}
.chooseyourtemplete-section {
  margin-left: 10px;
}
.justify-content-end {
  display: flex;
  justify-content: end;
}

@media (max-width: 1200px) {
  .space-beetween {
    display: grid !important;
    width: 100% !important;
  }
}
@media (min-width: 320px) and (max-width: 360px) {
  .share-review-main-section {
    padding: 20px 20px;
  }
  .share-review-main-section h2 {
    font-size: 20px !important;
    line-height: 30px !important;
  }
  mat-card.mat-mdc-card.mdc-card.content-post-card {
    /* width: 240px; */
    padding: 13px 14px;
  }
  .content-post-card h6 {
    font-size: 12px;
    line-height: 20px;
  }
  .review-proviedeby-main-card h6 {
    font-size: 8px !important;
  }
}
@media (min-width: 361px) and(max-width: 767px) {
  .share-review-main-section {
    padding: 20px 20px !important;
  }
  .share-review-main-section h2 {
    font-size: 20px !important;
    line-height: 30px !important;
  }
  mat-card.mat-mdc-card.mdc-card.content-post-card {
    padding: 14px 15px;
  }
}

.selectedBorder {
  border: 1.5px solid #3f3f46;
}

.share-review-avatar {
  height: 48px;
  width: 48px;
}
.reviews-prowered-by-font {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  flex-wrap: wrap;
}

.review-proviedeby-inner-cards-margin {
  margin: 8px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .review-proviedeby-inner-cards-margin {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.icon-refrence .mat-mdc-unelevated-button > .mat-icon,
.mat-mdc-raised-button > .mat-icon,
.mat-mdc-outlined-button > .mat-icon {
  height: 4.125rem !important;
  margin-right: 4px !important;
}

.color-picker-div {
  margin: 5px 0px 0px 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.color-picker-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.template-width {
  min-width: 360px;
  height: 400px;
  overflow-y: auto;
}

/* When custom platform is added from review-platform screen, if image is not there, use this class for setting image */
.img-custom-platform {
  width: 60px;
  height: 60px;
  background-color: #0078d4; /* Microsoft Teams blue color */
  color: #fff; /* White text */
  font-size: 36px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.imgs {
  background-size: cover;
  border: 2px solid #fff;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.24));
  border-radius: 40px;
  height: 64px;
  width: 64px;
  margin-bottom: 0px;
}

.lh-0 {
  line-height: 0;
}

.panel-to-hide {
  display: none;
}