<mat-card
  class="app-sub-card sub-card1-height"
  [ngClass]="breakPoint == 1 ? 'p-0' : 'p-2'"
  (window:resize)="onResize($event)"
>
  <mat-card-content>
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h3>
        {{ breakPoint == 1 ? "Email Template" : "Preview" }}
      </h3>
      <div [ngClass]="breakPoint == 1 ? '' : 'd-none'">
        <mat-icon
          [svgIcon]="'close'"
          class="cursor-pointer"
          mat-dialog-close
        ></mat-icon>
      </div>
    </div>
    <mat-card class="app-sub-card2" [ngClass]="breakPoint == 1 ? 'p-1' : 'p-3'">
      <mat-card-content>
        <mat-card class="app-sub-card3">
          <div class="d-flex justify-content-center">
            <img *ngIf="!isCompany" [src]="logo" alt="LOGO" class="preview-logo" />
            <h3 *ngIf="isCompany">{{ companyName }}</h3>
          </div>
          <div
            *ngIf="preview || this.dialogData.emailData"
            [ngClass]="breakPoint === 1 ? 'mt-2' : 'mt-4'"
            [innerHTML]="userPreview"
          ></div>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
