.cance-subscribption-main-sec {
  margin: 0px 0px 32px;
}
.cance-subscribption-main-sec h6 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #18181b;
}

.cance-subscribption-button-sec button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 136px;
  height: 56px;
  border-radius: 16px;
}

.cance-subscribption-button-sec {
  gap: 24px;
}

@media (max-width: 600px) {
  .cance-subscribption-button-sec {
    gap: 12px;
  }
}
